
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
#header{
    .discount{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: #abd373;
        color: white;
    }
    .pronia{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        color: #525252;
        .phone{
            .fa-phone::before{
                contain: '';
                color: white;
                padding: 10px;
                background-color: #abd373;
                border-radius: 5px;
            }
        }
    }
}
#nav{
    ul{
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        border-top: 1px solid #dee2e6;
        li{
            
            position: relative;
            .submenu{
                text-transform: uppercase;
                transform: scaleY(0);
                transform-origin: top left;
                transition: 0.2s;
                display: flex;
                flex-direction: column;
                gap: 0px;
                position: absolute;
                left: 0;
                top: 100%;
                background-color: white;
                width: fit-content;
                white-space: nowrap;
                z-index: 3;
                padding: 20px;
                li{
                    a{
                        transition: 0.4s;
                    }
                    a:hover{
                        transform: translateX(10px);
                    }
                    a::after{
                        content: '';
                        width: 0px;
                    }
                    a:hover::after{
                        width: 0px;
                    }
                    
                }
            }
            .shopNav{
                z-index: 3;
                position: absolute;
                top: 40px;
                left: 0;
                gap: 0;
                visibility: hidden;
                ul{
                    background-color: white;
                    
                }
                li{
                    position: relative;
                }
                .submenu{
                    position: relative;
                    top: 0px;
                    padding: 40px;
                    a{
                        padding: 0;
                    }
                    color: #383838;
                    h3{
                        font-weight: 500;
                    }
                }
            }
            
        }
        .blogNav{
            li ul{
                transform: scaleY(0) !important;
                visibility: hidden !important;
                position: absolute;
                top: 0;
                left: 205px;
                background-color:  white;
            }
            li:hover .multipleLevel{
                transform: scaleY(1) !important;
                visibility: visible !important;
             }
             .multipleLevel{
                li:hover ul{
                    transform: scaleY(1) !important;
                    visibility: visible !important;
                 }
             }
        }
        a{
            display: block;
            color: #4c4c4c;
            text-decoration: none;
            font-size: 14px;
            line-height: 40px;
            padding: 0 10px;
            transition: 0.2s;
        }
        a::after{
            content: '';
            background-color: #abd373;
            display: block;
            width: 0;
            height: 2px;
            transition: 0.4s;
            
        }
        li:hover > a{
            color: #abd373;
        }
        li:hover ul{
           transform: scaleY(1);
           visibility: visible;
        }
        li:hover a::after{
            content: '';
            width: 100%;
        }
        
    }
}
#slider{
    padding: 20px;
    background-color: #f9efe9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
img{
    transition: 1s;
}
.button{
    
    margin: 12px;
    button{
    background: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: 50ms;
    }
    button:active{
        scale: (0.9);
    }
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
}
